language: go

sudo: false

notifications:
  email: false

go:
  - "1.10"
  - "1.11"
  - "1.12"
  - "1.13"
  - tip

script:
  - bash ./scripts/fmt.sh
  - bash ./scripts/build.sh
  - python3 ./scripts/license_check.py